flask
create_app
flask_sqlalchemy
flask_bcrypt
flask_login
flask_mail
flask_mysqldb
flask_socketio
flask_admin
flask_limiter
flask_wtf
email_validator
jsonpickle
pygal
nltk
psycopg2
Pillow
python-engineio